/*
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
*/

.head {
    font-family: 'Montserrat', sans-serif;
}

.body {
    font-family: 'Overpass', sans-serif;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

.tealfilt {
    filter: invert(29%) sepia(84%) saturate(1479%) hue-rotate(154deg) brightness(91%) contrast(101%);
}

/* For the .log.html */
pre {
    white-space: pre-wrap;
}

body {
    background: #f0f0f0;
}

/* time */
body .tm  {
    color: #007020
}

/* nick, regular */
body .nk  {
    color: #062873;
    font-weight: bold;
}

/* action nick */
body .nka {
    color: #007020;
    font-weight: bold;
}

/* action line */
body .ac  {
    color: #00a000;
}

/* highlights */
body .hi  {
    color: #4070a0;
}

/* Things to make particular MeetBot commands stick out */
body .topic {
    color: #007020;
    font-weight: bold;
}

body .topicline {
    color: #000080;
    font-weight: bold;
}

body .cmd {
    color: #007020;
    font-weight: bold;
}

body .cmdline {
    font-weight: bold;
}

/* This is for the .html in the HTML2 writer */
h1 {
    text-align: center;
}

hr {
    border: 1px solid #cccccc;
}

/* The (nick, time) item pairs, and other body text things. */
.details {
    font-size: 12px;
    font-weight:bold;
}

/* The 'AGREED:', 'IDEA', etc, prefix to lines. */
.itemtype {
    font-style: normal;    /* un-italics it */
    font-weight: bold;
}

/* Example: change single item types.  Capitalized command name. */

/*
.TOPIC {
    color:navy;
}
*/

/*
.AGREED {
    color:lime;
}
*/

/*For Footer*/
.footer{
    background-color: #008080;
}

.footer-top{
    padding: 2.4rem 11.68rem;
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: left;
    margin-left: 0.81rem;
    margin-right: -1.68rem;
}

.footer-top h5{
    font-weight: bold;
    color: #fff;
}

.footer-top h5:hover{
    text-decoration: none;
}

.footer-top a{
    font-size: 0.8rem;
}

.footer-link-item a{
    color: #fff;
    margin: 2px 4.81rem;
}

.footer-link-item a:link,a:visited{
    color: #fff;
    text-decoration: none;
}

.footer-link-item a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer-heading-1,.footer-heading-2,.footer-heading-3{
    margin-left: 4.81rem;
}

.footer-mid{
    text-align: center;
}

.footer-mid p{
    font-size: 0.875rem;
    color: #fff;
}

.footer-mid p a{
    margin: 0px 0.25rem;
}

/*Responsive Code*/
@media screen and (min-width:1200px) and (max-width:1403px) {
    .footer-top{
        padding: 2.4rem 6rem;
    }
    
    .footer-link-item a{
        color: #fff;
        margin: 2px 4.81rem;
    }
}

 @media screen and (min-width:990px) and (max-width:1200px) {
    .footer-top{
        padding: 2.4rem 6.68rem;
    }
    .footer-heading-1,.footer-heading-2,.footer-heading-3{
        margin-left: 2.81rem;
    }
    .footer-link-item a{
        margin: 2px 2.81rem;
    }
} 

@media screen and (min-width:770px) and (max-width:990px) {
    .footer-top{
        padding: 2.4rem 7.68rem;
    }
    .footer-heading-1,.footer-heading-2,.footer-heading-3{
        margin-left: 0.8rem;
    }
    .footer-link-item a{
        margin: 2px 0.81rem;
    }
}

@media screen and (min-width:590px) and (max-width:770px) {
    .footer-top{
        padding: 2.4rem 2.68rem;
    }
    .footer-heading-1,.footer-heading-2,.footer-heading-3{
        margin-left: 0.8rem;
    }
    .footer-link-item a{
        margin: 2px 0.8rem;
    }
}

@media screen and (max-width:590px){
    .footer-top{
        padding: 1.4rem 2.68rem;
    }
    .footer-heading-1,.footer-heading-2,.footer-heading-3{
        margin-left: 0rem;
    }
    .about{
        margin-left: -2rem;
        padding-right: 2rem;
    }
    .support{
        margin-right: 1rem;
        margin-left: -1rem;
    }
    .footer-link-item{
        margin: 8px 0;
        line-height: 1rem;
    }
    .footer-link-item a{
        margin: 2px 0rem;
    }
}
